@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="border p-3 mt-3">
       <h1 class="row pb-2">
            <h2 class="text-primary">Privacy Policy</h2>
            <hr/>
        </h1>
       <div>
           This website is built by <a href="https://vashishth.co">Vashishth Patel</a>. In case of any queries, Please contact him.
       </div>
</div>