@model EventoWeb.Models.Event

@{
    ViewData["Title"] = "Edit";
}

@*<div class="row">
    <div class="col-md-4">*@
<form asp-action="Edit">
        <div class="border p-3 mt-4">
        <h2 class="row pb-2">
            <h2 class="text-primary">Edit @Model.Name Event</h2>
            <hr/>
        </h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" readonly/>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AdditionalNote" class="control-label"></label>
                <input asp-for="AdditionalNote" class="form-control" />
                <span asp-validation-for="AdditionalNote" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" style="width:150px"/>
                @*<a asp-controller="Event" asp-action="Index" class="btn btn-secondary">Back to Events</a>*@
            </div>
        </div>
</form>
@*    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

